.product-list {
  padding: ($base-size * 3) 0;
}

.product {
  margin: ($base-size / 2) 0;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
  transition: margin 0.2s, padding 0.2s, box-shadow 0.2s;

  &__header {
    @include flex(row, center, space-between);
    margin-bottom: ($base-size * 2);
    cursor: pointer;
  }

  &__name {
    @extend .h1;
    position: relative;
  }

  &__icon {
    position: absolute;
    color: $color-main;
    right: (-$base-size * 5);
    top: $base-size;
    font-size: ($base-size * 1.5);
    transition: $transition;
  }

  &__base-price {
    @extend .h1;
    font-weight: $font-light;
  }

  &__description {
    color: lighten($color-dark, 10%);
  }

  &__wrapper {
    @include flex(row, center, space-between);
    @include accordion-closed();
    animation: flipdown 0.5s ease both;
  }

  &__params {
    margin: 0 0 ($base-size * 3) 0;
    padding: 0;
    list-style-type: none;
  }

  &__params-title {
    @extend .h2;
    margin: ($base-size * 2) 0;
  }

  &__order {
    width: calc(100% - 400px);
    opacity: 0;
    transition: opacity 200ms;
  }

  &__total-price {
    font-size: 14px;
    font-weight: $font-bold;
    text-transform: uppercase;
  }

  &__images {
    position: relative;
    width: 350px;
    height: 350px;
    opacity: 0;
    transition: opacity 200ms;

    &.small {
      width: 220px;
      height: 220px;
    }

    > img {
      @include center();
      height: auto;
      opacity: 0;
      transition: opacity 500ms;

      &.active {
        opacity: 1;
      }

    }

  }

  &.active {
    margin: $base-size ($base-size * -1.2);
    padding: ($base-size * 6) (($base-size * 4) + ($base-size * 1.2));
    box-shadow: rgba(0,0,0,.1) 0 10px 30px;

    &:first-child {
      margin-top: $base-size/2;
    }

    .product__wrapper {
      @include accordion-open();
    }

    .product__order, .product__images {
      opacity: 1;
    }

    .product__icon {
      transform: rotate(180deg);
    }

  }

}

.widget-amount {
  input {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 ($base-size / 2);
    padding: 0;
  }

}
